nose
pep8
flake8
numpy
scipy
pyqt>=5
pandas
matplotlib=2.1.2
h5py
biom-format
scikit-learn
statsmodels
ipywidgets
scikit-bio>=0.5.1
sphinx
nbsphinx
sphinx_bootstrap_theme
sphinx-autodoc-typehints
docrep
coveralls
