numpy
scipy
pandas
matplotlib
scikit-learn
statsmodels
docrep
scikit-bio>=0.5.1
biom-format
h5py
pyqt>=5
ipywidgets
sphinx
nbsphinx
sphinx_bootstrap_theme
sphinx-autodoc-typehints
pep8
flake8
pytest
coverage
pytest-cov
