[dbbact]
module_name = dbbact_calour.dbbact
class_name = DBBact
website = www.dbbact.org
installation = pip install git+git://github.com/amnona/dbbact-calour
description = manual annotations about bacterial amplicon sequences
min_version = 1.4

[sponge]
module_name = spongeworld_calour
class_name = SpongeWorld
website = www.spongeemp.com/main
installation = pip install git+git://github.com/amnona/spongeworld-calour
description = automatic annotations from the sea sponge EMP project

[gnps]
module_name = gnpscalour
class_name = GNPS
website = gnps.ucsd.edu/
installation = pip install git+git://github.com/amnona/gnps-calour
description = metabolomics analysis using GNPS output file as database

[phenodb]
module_name = phenocalour
class_name = Phenotype
website = github.com/amnona/pheno-calour
installation = pip install git+git://github.com/amnona/pheno-calour
description = phenotypes for cultured bacteria
