[dbbact]
# the dbBact-calour database interface
# this is a manually annotated bacterial amplicon sequence database
# see dbbact.org
module_name = dbbact_calour.dbbact
class_name = DBBact
# uncomment these lines to add the dbbact username and password
# username = 
# password = 

[sponge]
# the SpongeEMP-calour database interface
# this is an automatic database with sponge microbiome amplicon sequences
module_name = spongeworld_calour
class_name = SpongeWorld

